body {
    margin: 0;
    background-color: #ffb6c1;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}
