.Message {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 150px;

    color: rgb(24, 22, 24);
    text-align: center;
    background-size: cover;
}

.Message p {
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0 15px;
}
